* {
    font-family: material-design-icons, IosevkaTermSlab, sans-serif;
    font-size: 25px;
  }

  window#waybar {
  background: transparent;
  border-radius: 10px;
  border-color: #EFF1F5;
  border-width: 5px;
  }

  .modules-left {
    background: #EFF1F5;
    color: #4C4F69;
    border-radius: 15px;

}

.modules-center {
  background: #EFF1F5;
  color: #4C4F69;
    border-radius: 15px;
}

.modules-right {
  background: #EFF1F5;
  color: #4C4F69;
  border-radius: 15px; 
}
  
  #custom-logo,
  #network{
    margin-right: 10px;
    margin-left: 10px;
  }

  #pulseaudio{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }
  #tray{
    margin-right: 10px;

  }
  #clock{
  margin: 3px;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 20px;
}

  #clock{
  margin-right: 5px; 
}
  #battery {
    font-size: 20px;
  }

  #custom-logo{
    background-image: url("/home/john/Pictures/nixsnowflake.png");
    padding-top: 5px;
    padding-bottom: 5px;
    background-size: 35px 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}